-author = friend.author
=link_to author.uri do
  =image_tag author.avatar_url, style: 'width: 16px; height: 16px;', rel: 'popover', data: {:content => "@#{author.login}(#{author.name})", 'original-title' => 'BY'}
