%p
  %a.twitter-share-button(data-count="none" href="https://twitter.com/share") Tweet
  :javascript
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
%p
  Gitday is an open-source software, you can
  =link_to 'View the project on Github', 'https://github.com/saberma/gitday'
%p Pull Requests are very welcome.
