.span2
  =link_to user.uri do
    =image_tag user.avatar_url, style: 'width: 70px; height: 70px;'
.span14
  %h5
    =link_to user.login, user.uri
    -unless user.blog.blank?
      %span.divider [
      =link_to user.blog, user.blog
      %span.divider ]
  %p.description=user.description
  - repos = user.repositories.preview
  - unless repos.empty?
    .well
      -repos.each do |repo|
        %p
          =link_to repo.name, repo.uri
          -unless repo.language.blank?
            %span.label=repo.language
          %span.label(rel="tooltip" title="#{repo.watchers} watchers")=repo.watchers
          -unless repo.description.blank?
            %p=repo.description
  -if following
    %p.pull-right.authors=render partial: 'friend', collection: following.authors.preview
