.day
  %h1.title Day 1
  .row
    .span16

      -#
        .follower
          .page-header
            %h6 Your new follower:

        .watcher
          .page-header
            %h6
              Your
              %small ShopQi
              watcher:

      .followed
        .page-header
          %h6 Your friends following:
        %ul.unstyled
          -@entries.each do |entry|
            -if entry.follow_event?
              -#%li=raw entry.content
              %li.content.row
                .span-3
                  =image_tag entry.thumbnail, style: 'width: 48px; height: 48px;'
                .title.span-5
                  =link_to entry.link, entry.uri
                  has 1 public repo and 27 followers

      .watched
        .page-header
          %h6 Your friends watching:
        %ul.unstyled
          -@entries.each do |entry|
            -if entry.follow_event?
              -#%li=raw entry.content
              %li.content.row
                .span-3
                  =image_tag entry.thumbnail, style: 'width: 48px; height: 48px;'
                .title.span-5
                  =link_to entry.link, entry.uri
                  belong to

    .sidebar.span8
      .well
        twitter this.
