.day
  %h1.title
    Day 1
    %small=@day.published_on.to_s(:db)
  .row
    .span16

      -#
        .follower
          .page-header
            %h6 YOUR NEW FOLLOWER:

        .watcher
          .page-header
            %h6
              YOUR
              %small ShopQi
              WATCHER:

      -unless @followings.empty?
        .followed
          .page-header
            %h6 YOUR FRIENDS FOLLOWING:
          %ul.unstyled
            -@followings.each do |following|
              -user = following.user
              %li
                .row.content
                  .span
                    =link_to user.uri do
                      =image_tag user.avatar_url, style: 'width: 48px; height: 48px;'
                  .span
                    %h5
                      =link_to user.login, user.uri
                      %span.badge(rel="tooltip" title="#{user.followers} followers")=user.followers
                    %p.description

      -unless @watchings.empty?
        .watched
          .page-header
            %h6 YOUR FRIENDS WATCHING:
          %ul.unstyled
            -@watchings.each do |watching|
              -repo = watching.repository
              %li
                .row.content
                  .span
                    =link_to repo.uri do
                      =image_tag repo.user.avatar_url, style: 'width: 48px; height: 48px;'
                  .span
                    %h5
                      =link_to repo.user.login, repo.user.uri
                      \/
                      =link_to repo.name, repo.uri
                      %span.badge(rel="tooltip" title="#{repo.watchers} watchers")=repo.watchers
                    %p.description=repo.description

    .sidebar.span8
      .well
        twitter this.
