.row
  .span16
    -unless @day.new_record?
      .day
        %h1.title
          =@day.title
          %small(title="#{@day.published_on.to_s(:db)}")=@day.today? ? 'Today' : @day.published_on.to_s(:db)

        -@active_repositories.each do |active_repo|
          -unless active_repo.activities.empty?
            .active_repository
              .page-header
                %h6
                  %small=link_to active_repo.repository.fullname, active_repo.repository.uri
                  ACTIVITIES:
              %ul.unstyled
                -active_repo.activities.each do |activity|
                  -user = activity.author
                  %li
                    .title
                      =link_to user.login, user.uri
                      %span=activity.action
                      =link_to activity.name, activity.link, title: activity.title
                      %span.timeago(title="#{activity.published_at.iso8601}")=activity.published_at.to_s(:db)
                    .details
                      .gravatar
                        =link_to user.uri do
                          =image_tag user.avatar_url, style: 'width: 30px; height: 30px;'
                      .message
                        %blockquote(title="#{activity.body}")
                          %p=raw markdown.render(truncate(activity.body, length: 190))

        -unless @followers.empty?
          .follower
            .page-header
              %h6 YOUR NEW FOLLOWER:
            %ul.unstyled
              -@followers.each do |follower|
                %li
                  .row.content=render partial: 'user', object: follower.author, locals: { following: nil }

        -@watchers.each do |watcher|
          .watcher
            .page-header
              %h6
                YOUR
                %small=watcher.repository.name
                WATCHER:
          %ul.unstyled
            -watcher.authors.each do |author|
              %li
                .row.content=render partial: 'user', object: author.author, locals: { following: nil }

        -unless @followings.empty?
          .followed
            .page-header
              %h6 YOUR FRIENDS ARE FOLLOWING:
            %ul.unstyled
              -@followings.each do |following|
                %li
                  .row.content=render partial: 'user', object: following.user, locals: { following: following }

        -unless @watchings.empty?
          .watched
            .page-header
              %h6 YOUR FRIENDS ARE WATCHING:
            %ul.unstyled
              -@watchings.each do |watching|
                -repo = watching.repository
                %li
                  .row.content
                    .span2
                      =link_to repo.uri do
                        =image_tag repo.user.avatar_url, style: 'width: 70px; height: 70px;'
                    .span14
                      %h5
                        =link_to repo.user.login, repo.user.uri
                        %span.divider /
                        =link_to repo.name, repo.uri
                        -unless repo.language.blank?
                          %span.label=repo.language
                        %span.label(rel="tooltip" title="#{repo.watchers} watchers")=repo.watchers
                      %p.description=repo.description
                      %p.pull-right=render partial: 'friend', collection: watching.authors.preview
        -if @empty
          .alert.alert-info Today your friends do not have any activities.
    -else
      .alert.alert-info Gitday is parsing Your News Feed, after a few minutes, you can see the following report.
      =image_tag 'preview.png'

  .sidebar.span8
    .well
      =render 'others'
