.hero-unit
  %h1 Github Friend!
  %p The daily report provides who are your friends following, what are they watching.
  %p
    %a.btn.btn-primary.btn-large(href='/members/auth/github') Sign in  with Github

#preview
  .row
    .span8
      %h4 Daily report
      =image_tag 'preview1.png'
    .span8
      %h4 New follower
      =image_tag 'preview2.png'
    .span8
      %h4 New repo watcher
      =image_tag 'preview3.png'
  .row
    .span8
      %h4 Friends are following
      =image_tag 'preview4.png'
    .span8
      %h4 Friends are watching
      =image_tag 'preview5.png'
    .span8
      %h4 Others
      =render 'others'
