.hero-unit
  %h1 Gitday
  %p organize your GITHUB NEWS FEED every day.
  %p
    %a.btn.btn-primary.btn-large(href='/members/auth/github') Sign in  with Github

#screenshot
  %h1 Screenshot
  #preview
    =image_tag 'preview.png'
