defaults: &defaults
  oauth:
    client_id: ''
    client_secret: ''
    redirect_uri: ''

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
  oauth:
    client_id: ''
    client_secret: ''
    redirect_uri: ''
