defaults: &defaults
  smtp:
    username: 'admin@gitday.com'
    password: 'foo'
  author:
    email: 'mahb45@gmail.com'
  tracker:
    login: 'gitday'
    password: 'foofoo'
    token: '87ds2d32a6nic986ybfd283jb0mskhb3'
  member:
    email: 'mahb45@gmail.com'
    login: 'saberma'
    token: 'demo:2e49a3nkd2jd9ab180e51e3djcf'
  oauth:
    client_id: ''
    client_secret: ''
    redirect_uri: ''

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
  oauth:
    client_id: ''
    client_secret: ''
    redirect_uri: ''
