development:
  adapter: postgresql
  encoding: unicode
  host: localhost
  database: github_friend_development
  pool: 5
  username: postgres
  password:

test:
  adapter: postgresql
  encoding: unicode
  host: localhost
  database: github_friend_test
  pool: 5
  username: postgres
  password:

production:
  adapter: postgresql
  encoding: unicode
  host: localhost
  database: github_friend_production
  pool: 5
  username: postgres
  password:
