%li
  .title
    =link_to activity.author.login, activity.author.uri
    %span pushed to
    %span=activity.ref
    %span.timeago(title="#{activity.published_at.iso8601}")=activity.published_at.to_s(:db)
  .details
    .gravatar
      =link_to activity.author.uri do
        =image_tag activity.author.avatar_url, style: 'width: 30px; height: 30px;'
    .commits
      %ul
        -activity.commits.each do |commit|
          %li
            -unless activity.commits.size == 1
              %span=image_tag commit.author.avatar_url, style: 'width: 16px; height: 16px;', title: commit.author.login
            %span.code=link_to commit.sha, commit.uri
            .message
              %blockquote(title="#{commit.message}")=truncate(commit.message.sub(/\n+.+/, ''), length: 100)
