!!!
%html
  %head
    %title Github Friend
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand(href="#") Github Friend
          %ul.nav.pull-right
            -if member_signed_in?
              %li.dropdown
                =link_to '#', class: 'dropdown-toggle', data: { toggle: :dropdown } do
                  =current_member.login
                  %b.caret
                %ul.dropdown-menu
                  %li=link_to 'Update Token', member_token_path
                  %li=link_to 'Sign Out', sign_out_path
            -else
              %li=link_to 'Sign in with Github', member_omniauth_authorize_path(:github)
    #main.container
      = yield
