=form_for current_member, :url => member_token_path, :html => {:class => :well} do |f|
  =f.label :token
  =f.text_field :token, :class => :span14
  %p.help-block
    %small https://github.com/saberma.private.atom?token=8bf2milj9236b90b53mds80e5123dmlf
  =f.label :time_zone
  =f.time_zone_select :time_zone, nil, :default => "UTC"
  %br
  %button.btn.btn-primary(type="submit") 保存
  %p.help-block.token
    Find your News Feed token in
    =link_to 'github dashboard', 'https://github.com', target: :_blank
  =image_tag 'token.png', class: :token_image
