-unless current_member.errors.empty?
  .alert.alert-error
    %ul
      -current_member.errors.full_messages.each do |message|
        %li=message
=form_for current_member, :url => member_token_path, :html => {:class => :well} do |f|
  =f.label :token, "Token <span class='label'>REQUIRED</span>".html_safe
  =f.text_field :token, :class => :span14
  %p.help-block
    %small https://github.com/saberma.private.atom?token=8bf2milj9236b90b53mds80e5123dmlf
  =f.label :time_zone
  =f.time_zone_select :time_zone, nil, :default => "UTC"
  %br
  %button.btn.btn-primary(type="submit") 保存
  %p.help-block.token
    Find your News Feed token in
    =link_to 'Github Dashboard', 'https://github.com', target: :_blank
  %p.help-block
    %em Don't worry, Token is only used for accessing news feed.
    %span.label.label-info It is safe.
  =image_tag 'token.png', class: :token_image
